[submodule "cpython"]
	path = cpython
	url = https://github.com/python/cpython/
[submodule "numpy"]
	path = numpy
	url = https://github.com/numpy/numpy/
[submodule "virtualenv"]
	path = virtualenv
	url = https://github.com/pypa/virtualenv/
